<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
    <dict>
        <key>name</key><string>Aura</string>
        <key>invite</key><string>hTBKpAHQ8x</string>
        <key>id</key><integer>1200589983115911340</integer>
    </dict>
    <dict>
        <key>name</key><string>Long / ﷽</string>
        <key>invite</key><string>7pHpZrRVAa</string>
        <key>id</key><integer>966137238880682145</integer>
    </dict>
    <dict>
        <key>name</key><string>Sexy</string>
        <key>invite</key><string>ENQs5c9Ujv</string>
        <key>id</key><integer>1004845111974318232</integer>
    </dict>
    <dict>
        <key>name</key><string>Love</string>
        <key>invite</key><string>DbaSRkQTHs</string>
        <key>id</key><integer>634079665635721238</integer>
    </dict>
</array>
</plist>